<div class="card-columns">
  <div class="card social1">
    <div class="card-body">
      <div class="icon">
        <i class="devicon-twitter-plain"></i>
      </div>
      <h5 class="card-title">Contact me via Twitter</h5>
      <p class="card-text">Find me and my thoroughly un-memorable twits in the popular media site.</p>
      <a href="https://www.twitter.com/cornopaez" class="btn btn-primary">Go to Twitter</a>
    </div>
  </div>
  <div class="card social2">
    <div class="card-body">
      <div class="icon">
        <i class="devicon-facebook-plain"></i>
      </div>
      <h5 class="card-title">Contact me via Facebook</h5>
      <p class="card-text">Find me amongts all of your extended family's posts.</p>
      <a href="https://www.facebook.com/cornopaez" class="btn btn-primary">Go to Facebook</a>
    </div>
  </div>
  <div class="card social3">
    <div class="card-body">
      <div class="icon">
        <i class="fab fa-angellist"></i>
      </div>
      <h5 class="card-title">Find me in AngelList</h5>
      <p class="card-text">Head over to the place where start-ups hang out.</p>
      <a href="https://angel.co/jose-m-paez" class="btn btn-primary">Go to AngelList</a>
    </div>
  </div>
  <div class="card bg-primary text-white text-center p-3 social4">
    <div class="card-body">
      <div class="icon">
        <i class="far fa-envelope"></i>
      </div>
      <h5 class="card-title">Send me an old fashioned email</h5>
      <p class="card-text">Not a fan of social media? No worries- I've got you covered. Send me some electronic mail.</p>
      <a href="mailto:contact@cornopaez.com" class="btn btn-primary">Send Email</a>
    </div>
  </div>
  <div class="card text-center social5">
    <div class="card-body">
      <div class="icon">
        <i class="fab fa-linkedin"></i>
      </div>
      <h5 class="card-title">How about LinkedIn?</h5>
      <p class="card-text">Now is the time to finally visit the site. It's the least you can do after marking their emails as "Spam" all those years ago.</p>
      <a href="https://www.linkedin.com/in/cornopaez" class="btn btn-primary">Go to LinkedIn</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img" src="./assets/tibearius.png" alt="Card image">
    <div class="card-body">
      <p class="card-text">Here, have a Corgi pic. It's only fair. His name is Tibearius- Bear for short.</p>
    </div>
  </div>
  <div class="card p-3 text-right comments">
    <div class="card-body">
      <div class="icon">
        <i class="far fa-comments"></i>
      </div>
      <h5 class="card-title">Got Comments?</h5>
      <p class="card-text">Fill out this handy form and send me your comments.</p>
      <a routerLink="/Contact/form" class="btn btn-warning">Show me the form</a>
    </div>
  </div>
  <div class="card leftover">
    <div class="card-body">
      <h5 class="card-title">...and finally</h5>
      <p class="card-text">Thank you for dropping by. I look forward to getting in touch with you.</p>
      <p class="card-text"><small class="text-muted">Site last updated on 3/20/2018</small></p>
    </div>
  </div>
</div>
