<nav *ngIf="currentContent.navbar">
  <h1>{{ '{'}} {{ currentContent.navbar.title }} {{ '}'}}</h1>
  <div class="links">
    <ul class="nav nav-pills">
      <li *ngFor="let link of currentContent.navbar.links" class="nav-item array-coma-2">
        <a class="nav-link" routerLink="/{{ link }}">{{ link }}</a>
      </li>
    </ul> 
  </div>
</nav>

<div *ngFor="let item of currentContent.content.points" class="detail">
  <div class="group">
    <h2>
      {{ item.title }}
    </h2>
    <div class="points-container">
      <!-- Each section has its own way of using data in the db. -->

      <!-- Points for backgounrd -->
      <div *ngIf="item.title == 'Background'" class="background points">
        <p *ngIf="item.description">
          {{ item.description }}
        </p>
      </div>

      <!-- Points for Languages and Tech -->
      <div *ngIf="item.title == 'Languages and Technology'" class="languages points">
        <ul>
          <li *ngFor="let icon of item.finer_points">
            <i class="{{icon}}"></i>
          </li>
        </ul>
      </div>

      <!-- Points for Experience -->
      <div *ngIf="item.title == 'Experience'" class="experience points">
        <ul>
          <li *ngFor="let item of item.finer_points">
            {{ item }}
          </li>
        </ul>
      </div>
      
      <!-- Points for Education -->
      <div *ngIf="item.title == 'Education and Certifications'" class="education points">
        <ul>
          <li *ngFor="let item of item.finer_points">
            {{ item }}
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>