<div class="projects">

  <div 
    *ngFor="let project of currentCards" 
    class="project {{ project.card.card_class }}" 
    [style.backgroundImage]="'url(' + project.card.background_image + ')'"
    routerLink="/Projects/{{ project.project_name }}">

    <h3>{{ project.card.title }}</h3>
    <h6 *ngIf="project.card.subtitle">{{ project.card.subtitle }}</h6>
    <img *ngIf="project.card.image" src="{{ project.card.image }}">
    <ng-container *ngIf="project.card.icons">
      <div class="{{ project.card.icons.class_name }}">
        <i *ngFor="let icon of project.card.icons.icons" class="{{ icon }}" aria-hidden="true"></i>
      </div>
    </ng-container>
  </div>  

</div>