<nav *ngIf="currentContent.navbar">
  <h1>{{ '{'}} {{ currentContent.navbar.title }} {{ '}'}}</h1>
  <div class="links">
    <ul class="nav nav-pills">
      <li *ngFor="let link of currentContent.navbar.links" class="nav-item array-coma-2">
        <a class="nav-link" routerLink="/{{ link }}">{{ link }}</a>
      </li>
    </ul> 
  </div>
</nav>

<div class="search">
  <div class="input-group">
    <input type="text" class="form-control search-input" placeholder="Search Projects" aria-label="Search Projects">
  </div>
</div>

<div class="projects">

  <div *ngFor="let project of currentCards" class="project {{ project.card.card_class }}" routerLink="/projectDetails/{{ project.project_name }}">
    <h3>{{ project.card.title }}</h3>
    <h6 *ngIf="project.card.subtitle">{{ project.card.subtitle }}</h6>
    <img *ngIf="project.card.image" src="{{ project.card.image }}">
    <ng-container *ngIf="project.card.icons">
      <div class="{{ project.card.icons.class_name }}">
        <i *ngFor="let icon of project.card.icons.icons" class="{{ icon }}" aria-hidden="true"></i>
      </div>
    </ng-container>
  </div>  

</div>