.blank-space
	height: 8.625em

.tabs
	display: block
	padding: 2em

	@media screen and (max-width: 639px)
		padding: 2em 1em

	.tab-content
		padding: 2em

		.tab-pane
			text-align: center

			form
				display: inline-block
				width: 70%

				.form-group
					label
						display: block
						text-align: start