<nav *ngIf="currentContent.navbar">
  <h1>{{ '{'}} {{ currentContent.navbar.title }} {{ '}'}}</h1>
  <div class="links">
    <ul class="nav nav-pills">
      <li *ngFor="let link of currentContent.navbar.links" class="nav-item array-coma-2">
        <a class="nav-link" routerLink="/{{ link }}">{{ link }}</a>
      </li>
    </ul> 
  </div>
</nav>

<div class="jumbotron contact">
  <div class="text-container">
    <h1>
      Let's Talk
    </h1>
    <p>
      Every now and then, reading through this website is not enough to get the answers you're looking for. I value all input greatly and I want to give you access to every communication channel I have at my disposal, so you contact me however you like contacting people.
    </p>
  </div>
</div>
<router-outlet></router-outlet>