<!-- <nav>
  <h1>{{'{'}} Contact {{'}'}} </h1>
  <div class="links">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="/">home</a>
      </li>
      <li class="nav-item about">
        <a class="nav-link" href="/projects">projects</a>
      </li>
      <li class="nav-item contact">
        <a class="nav-link" href="/about">about</a>
      </li>
    </ul> 
  </div>
</nav> -->
<div class="jumbotron">
  <h1>
    Let's Talk
  </h1>
  <p>
    Every now and then, reading through this website is not enough to get the answers you're looking for. I value all input greatly and I want to give you access to every communication channel I have at my disposal, so you contact me however you like contacting people.
  </p>
</div>

<div class="tabs">
  <!-- Tabs -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="scl-ntwk-tab" data-toggle="tab" href="#scl-ntwk" role="tab" aria-controls="social-networks" aria-expanded="true">Social Networks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="email-tab" data-toggle="tab" href="#email" role="tab" aria-controls="email">Email</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="form-tab" data-toggle="tab" href="#form" role="tab" aria-controls="form">Contact Form</a>
    </li>
  </ul> <!-- End of Tabs -->

  <!-- Tab Contents -->
  <div class="tab-content" id="myTabContent">
    <!-- Social Networks Tab -->
    <div class="tab-pane fade show active" id="scl-ntwk" role="tabpanel" aria-labelledby="scl-ntwk-tab">
      I'm the social network tab!
    </div>

    <!-- Email Tab -->
    <div class="tab-pane fade" id="email" role="tabpanel" aria-labelledby="email-tab">
      <p>For those who don't like, or are not part of, social networks (kudos to you!) you can reach me the old-fashined way via email through your daily email software:</p>
      <a href="mailto:contact@cornopaez.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
    </div>

    <!-- Form Tab -->
    <div class="tab-pane fade" id="form" role="tabpanel" aria-labelledby="form-tab">
      <p>Lastly, if you like filling out forms (and who doesn't?) you can use this one to get in touch with me.</p>

      <form name="contact_form" action="/contact" method="post" novalidate>
        <div class="form-group">
          <label for="inputName">Name</label>
          <input type="text" class="form-control" id="inputName" aria-describedby="nameHelp" placeholder="Enter your name" name="user_given_name" ng-model="user_name" required>
        </div>
        <div class="form-group">
          <label for="inputEmail">Email address</label>
          <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" name="user_email" ng-model="user_email" required>
          <small id="emailHelp" class="form-text text-muted">I'll never share your email with anyone else. Only for callback purposes.</small>
        </div>
        <div class="form-group">
          <label for="textarea">What's going on?</label>
          <textarea class="form-control" id="textarea" rows="5" name="user_message" ng-model="user_text" required></textarea>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="urgent_message" ng-model="urgent">
            This is an urgent message!
          </label>
        </div>
        <!-- <div vc-recaptcha key="model.key"></div> -->
        <!-- TODO: Re-captcha needs to be developed to be compatible with this new site -->
        <button class="btn btn-primary" type="submit" ng-disabled="contact_form.$invalid">Make Mauricio respond!</button>
      </form>
    </div> <!-- End of Form Tab -->
  </div> <!-- End of Tab Contents -->
</div>