<div class="form-container">
  <a routerLink="/Contact" class="btn btn-warning"><i class="fas fa-chevron-left"></i> Go Back</a>
  <h3 class="form-title">Mauricio's Most Excellent Contact Form</h3>
  <form name="contact_form" #messageForm="ngForm">
    <div class="form-group">
      <label for="inputName">Name</label>
      <input 
          type="text" 
          class="form-control" 
          id="inputName" 
          aria-describedby="nameHelp" 
          placeholder="Enter your name" 
          required 
          [(ngModel)]="message.name" 
          name="name">
    </div>
    <div class="form-group">
      <label for="inputEmail">Email address</label>
      <input 
        type="email" 
        class="form-control" 
        id="inputEmail" 
        aria-describedby="emailHelp" 
        placeholder="Enter email" 
        required 
        [(ngModel)]="message.email" 
        name="email">
      <small id="emailHelp" class="form-text text-muted">I'll never share your email with anyone else. Only for callback purposes.</small>
    </div>
    <div class="form-group">
      <label for="textarea">What's going on?</label>
      <textarea 
        class="form-control" 
        id="textarea" 
        rows="5"
        required 
        [(ngModel)]="message.message" 
        name="message"></textarea>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input 
          type="checkbox" 
          class="form-check-input" 
          [(ngModel)]="message.urgent" 
          name="urgent">
        This is an urgent message!
      </label>
    </div>
    <!-- <div vc-recaptcha key="model.key"></div> -->
    <button class="btn btn-primary" type="submit" [disabled]="!messageForm.form.valid">Make Mauricio respond!</button>
  </form>
</div>