.btn-link
	padding: 0.5em 0.75em 1.5em 2em

.jumbotron
	position: relative
	padding: 0
	height: 25em
	filter: grayscale(30%)

	// @media screen and (max-width:)

	background:
		size: auto
		position: center
		repeat: no-repeat

	.footnotes
		position: absolute
		bottom: 0
		right: 0
		padding: 0 2em 2em 0
		color: white

		h4
			text-align: right
			// filter: blur(2px)

		ul
			padding: 0
			margin: 0
			display: flex
			flex-direction: row-reverse
			list-style: none

			li
				@include icon-size(2.5em)

	// Specific cover image styling
	&.portfolio
		background-size: cover

	&.dance
		background-size: cover

	&.murders
		background-size: contain
		background-color: #fff

		> .footnotes
			color: #000

	&.health
		background-size: cover

	&.mongomart
		background-size: cover

	&.bank
		background-size: cover

		> .footnotes
			color: #000

	&.portfolio2
		background-size: cover


.project-detail
	padding: 0 2em
