<div class="btn-container">
  <a routerLink="/Projects" class="btn btn-link"><i class="fas fa-chevron-left"></i>  Back to Projects</a>  
</div>

<div class="jumbotron" [style.backgroundImage]="'url(' + currentContent.content.image + ')'" [ngClass]=currentContent.content.imageStyle>
  <div class="footnotes">
    <h4>Tech used</h4>
    <ul>
      <li *ngFor="let icon of currentContent.content.icons">
        <i class="{{icon}}"></i>
      </li>
    </ul>
  </div>
</div>

<div class="detail project-detail">
  <div class="group">
    <h2>
      About this project
    </h2>
    <div class="points-container">
      <div class="points">
        <p [innerHtml]=currentContent.content.description></p>
        <h4>Source Code</h4>
        <p><a href="{{ currentContent.content.source }}">{{ currentContent.content.source }}</a></p>
        <h4>Credits</h4>
        <p [innerHtml]=currentContent.content.footer></p>
        <a class="btn btn-primary" href="{{ currentContent.content.link }}">Launch Project</a>
        <br>
        <small>Some projects may take a bit of time loading</small>
      </div>
    </div>
  </div>
</div>
