<a routerLink="/Projects" class="btn btn-link"><i class="fas fa-chevron-left"></i>  Back to Projects</a>

<div class="jumbotron" [style.backgroundImage]="'url(' + currentContent.content.image + ')'">
  <div class="footnotes">
    <h4>Tech used</h4>
    <ul>
      <li *ngFor="let icon of currentContent.content.icons">
        <i class="{{icon}}"></i>
      </li>
    </ul>
  </div>
</div>

<div class="detail project-detail">
  <div class="group">
    <h2>
      About this project
    </h2>
    <div class="points-container">
      <div class="points">
        <p>{{ currentContent.content.description }}</p>
        <h4>Source Code</h4>
        <p><a href="{{ currentContent.content.source }}">{{ currentContent.content.source }}</a></p>
        <h4>Credits</h4>
        <p>
          {{ currentContent.content.footer }}
        </p>
      </div>
    </div>
  </div>
</div>
