html
	font-size: 16px
	background: white

body
	
	font-family: 'Open Sans'
	max-width: 1552px
	margin: 0 auto

	@media screen and (min-width: 768px)
		height: 100vh

	@media screen and (max-width: 767px)
		min-height: 100vh

	position: relative

	// Navbar specific import
	@import './nav'

	// View specific imports
	@import './app/home/home.component'
	@import './app/projects/projects.component'
	@import './app/about/about.component'
	@import './app/contact/contact.component'
	@import './app/projects/project_details/project-details.component'

// Style for the array-look for Pills
@import './array'

// Style for Footer
@import './app/app.component'